.custom-btn__arrow-left {
    content: url("../pics/leftarrow.png");
}

.custom-btn__arrow-right{
    content: url("../pics/rightarrow.png");
}

.head__logo__text{
    text-transform: lowercase;
    font-weight: 600;
    font-size: 10px;
}


body{
    font-family: 'Jost', sans-serif;
    color: white;
    margin: 0;
}

html{
    background: linear-gradient(135deg, #2f303e 30%, #575867 100%) no-repeat;
    height: 100%;
}

.wrapper {
}

.navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    background-color: #303242;
    height: 100%;
    min-height: 721px;
}

.navigation>*{
    margin-left: 2em;
}

.navigation__head__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 2em 0 0 0;
    padding: 0 0 1em 2em;
    border-bottom: 1px solid #414352
}

.navigation__head{
    width: min-content;
}

.head__year{
    font-size: 10px;
    font-weight: 500;
}

.navigation__head__cap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 5px;
    width: 100%
}

.navigation__head__text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    width: 100%
}

.navigation__lists{
    margin: 0;
}

.lists__item{
    cursor: pointer;
    margin: 1em 0 0 0;
    line-height: 2em;
}

.item__label{
    margin-left: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.item__content{
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all .5s;
}

.item__content--hidden{
    opacity: 0;
    visibility: hidden;
    transform: translate(-300px);
    height: 0;
    transition: all .5s;
}

.item__content__entity{
    line-height: 3em;
    width: 100%;
    border-left: 3px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all .5s;
}

.item__content__entity>*{
    margin-left: 2.5em;
}

.item__content__entity>*+{
    margin-left: 1em;
}
.item__content__entity>img {
    filter: grayscale(100%);
    transition: all .5s;
}

.item__content__entity:hover{
    background-color: #373949;
    border-left: solid 3px #6f6eff;
    transition: all .5s;
}

.item__content__entity:hover>img{
    filter: grayscale(0);
    transition: all .5s;
}

.item__content__entity>*+*{
    width: 100px;
    margin-right: 30%;
}

.item__content__entity>img{
    height: 18px;
}

.item__name{
    margin: 0;
}

.item__name>img{
    position: absolute;
    right: 0;
    margin-right: 2em;
    margin-top: .5em;
    height: 5px;
}

.lists__item input {
    display: none;
}

.navigation__refs{
    margin-left: 0;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 1em;
    border-bottom: 1px solid #414352;
}

.navigation__refs>*{
    margin-left: 2em;
}

.navigation__refs>a+*{
    margin-top: 1em;
}

.navigation__refs>a{
    text-transform: uppercase;
    font-weight: 400;
}

.navigation__subscription{
    position: fixed;
    bottom: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
    width: 238px;
    margin: 0;
    background-color: #2f303e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subscription__switch{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.switch__item{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d2e3c;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #414352;

}

.switch__item:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #8a8daf;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.subscription__switch>input:checked + .switch__item:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #6f6eff;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-weight: 400;
    margin-left: 280px;
}
.menu>*+*{
    margin-left: 3em;
}

.menu__head{
    position: sticky;
    top: 0;
    height: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: linear-gradient(135deg, #2f303e 0%, #4e4f5d 100%) no-repeat;
    width: 100%;
}

.menu__head>*{
    margin-left: auto;
}

.head__categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
}

.head__categories>*+*{
    margin-left: 1em;
}

.head__categories>*:last-child{
    padding-right: 2em;
    border-right: solid 1px #3b3c49;
}

.head__profile{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile__stat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}

.stat__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 .5em 0 .5em;
    line-height: 24px;
    border-radius: 5px;
    background-color: #3b3c49;
}
.stat__item:last-child{
    padding-left: 0;
}
.stat__item~*{
    margin-left: .5em;
}

.stat__item>img{
    height: 24px;
    width: 24px;
    display: inline-block;
}

.head__person{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 5em;
}

.head__person>img{
    width: 42px;
    height: 42px;
}

.person__status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1em;
}

.status__name:after{
    color: white;
    background-color: #6f6eff;
    content: "PRO";
    border-radius: 4px;
    padding-left: .5em;
    padding-right: .5em;
    margin-left: .5em;
    height: 14px;
}

.status__online{
    color: #24CB8D;
}

.status__online:before{
    display: inline-block;
    margin-right: .3em;
    position: relative;
    bottom: 1px;
    content: "";
    border-radius: 50%;
    border: 3px solid #24CB8D;
    background: #24CB8D;
}

.menu__content{
    margin-top: 3em;
}